@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
    overflow: hidden;
}
body::before{
    position: absolute;
    content: '';
    width: 500px;
    height: 500px;
    left: 400px;
    top: 100px;
    background: linear-gradient(red, orange);
}
body::after{
    position: absolute;
    content: '';
    width: 500px;
    height: 800px;
    left: 40px;
    top: -80px;
    transform: rotate(25deg);
    background: #091921;
}
body b{
    position: absolute;
    width: 500px;
    height: 800px;
    left: 780px;
    top: -80px;
    transform: rotate(155deg);
    background:#091921;
}
body b::before{
    content: '';
    width: 500px;
    height: 500px;
    top: -200px;
    right: 50px;
    background:linear-gradient(rgb(165, 3, 165), rgb(255, 0, 255));
    position: absolute;
    border-radius: 50%;
}

.container{
    position: relative;
    background: rgba(255,255,255, 0.05);
    border-radius: 6px;
    overflow: hidden;
    z-index: 10;
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}

.container .calculator{
    position: relative;
    display: grid;
}

.container .calculator .value{
    grid-column: span 4;
    height: 140px;
    width: 300px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 30px;
    background: transparent;
    color: #fff;

    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
}

.container .calculator span{
    display: grid;
    place-items: center;
    width: 75px;
    height: 75px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    border-right: 1px solid rgba(255,255,255,0.05);
}

.container .calculator span:hover{
    transition: 0s;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.493),
    0 0 10px rgba(255, 255, 255, 0.562);
}

.container .calculator span:active{
    background: #14ff47;
    color: #192f00;
    font-size: 24px;
    font-weight: 500;
}

.container .calculator .clear{
    grid-column: span 2;
    width: 150px;
}

.container .calculator .plus{
    grid-row: span 2;
    height: 150px;
}