.contact{
     display: flex;
    position: absolute;
    width: 100%;
    height: 200px;
    top: 3800px;
    justify-content: space-between;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
}
.contact .banner{

    position: relative;
    flex-basis: 30%;
    width: 100px;
    height: 100px;
    z-index: 100;
}
.contact .banner:hover i{
  transform: translateY(-50px) rotateZ(360deg);
}

.contact .banner:nth-child(2):after{
    position: absolute;
    font-family: 'Acme', sans-serif;
     left: 15px;
    top: 50px;
    content: 'HERE!';
    color: rgba(255, 255, 255, 0.308);
    text-align: center;
    width: 200px;
    font-size: 1.5em;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(0, 0, 131);
    box-shadow: 0 -10px 20px rgb(0, 0, 131);
}
.contact .banner:nth-child(3):after{
    position: absolute;
left: 15px;
    top: 50px;
    content: 'HERE!';
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 1.5em;
    width: 200px;
    height: 60px;
    color: rgba(255, 255, 255, 0.308);
    border-radius: 50%;
    background-color: rgb(102, 3, 3);
    z-index: -1;
    box-shadow: 0 -10px 20px  rgb(102, 3, 3);
}
.contact .banner:nth-child(4):after{
    position: absolute;
left: 15px;
    top: 50px;
    content: 'HERE!';
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 1.5em;
    width: 200px;
    height: 60px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.308);
    background-color: rgb(119, 77, 0);
    z-index: -1;
    box-shadow: 0 -10px 20px  rgb(119, 77, 0);
}
.contact .banner:nth-child(2):before{
    position: absolute;
    top:50px;
    left: 90px;
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 -10px 20px blue,
    0 -30px 40px blue,
    0 -50px 60px blue,
    0 -70px 80px blue;
    z-index: -2;
}
.contact .banner:nth-child(3):before{
    position: absolute;
    top:50px;
    left: 90px;
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 -10px 20px red,
    0 -30px 40px red,
    0 -50px 60px red,
    0 -70px 80px red;
    z-index: -2;
}
.contact .banner:nth-child(4):before{
    position: absolute;
    top:50px;
    left: 90px;
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px -10px 20px #FCAF45,
    0 -30px 40px #FCAF45,
    0px -50px 60px #FCAF45,
    0px -70px 80px #FCAF45;
    z-index: -2;
}
.contact .banner .isnta i{
    text-shadow: 0 0 50px #FCAF45,
    0 0 50px #FCAF45,
    0 0 50px #FCAF45,
    0 0 50px #FCAF45,
    0 0 50px #FCAF45;
    font-size: 2.5em;
    position: absolute;
    top: -30px;
    color: white;
    left: 43%;
    transition: .5s;
}
.contact .banner .email i{
    text-shadow:0 0 50px  red,
    0 0 50px red,
    0 0 50px red,
    0 0 50px red,
    0 0 50px red;
    font-size: 2.5em;
    position: absolute;
    left: -5px;
    top: -30px;
    color: white;
    background: none;
    left: 42%;
    transition: .5s;
}
.contact .banner .fb i{
    font-size: 2.5em;
    position: absolute;
    top: -30px;
    color: white;
    left: 45%;
    text-shadow: 0 0 50px blue,
    0 0 50px blue,
    0 0 50px blue,
    0 0 50px blue,
    0 0 50px blue;
    transition: .5s;
}
.contact .banner a{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 100000;
}
.contact .text{
    position: absolute;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.08));
    top: -180px;
   left: 760px;
}
.contact .text span{
color: rgba(255, 255, 255, 0.151);
text-shadow: 0 0 0 #222;
font-size: 5em;
color: white;
text-shadow: 0 0 20px rgb(56, 252, 7),
0 0 40px rgb(56, 252, 7),
0 0 60px rgb(56, 252, 7);
font-family: 'Source Code Pro', monospace;
text-transform: uppercase;
letter-spacing: 5px;
animation-delay:  calc(1s * var(--i));
animation: rotcol 2s infinite;
cursor:default;
}