.bowl{
    top: 2700px;
    right: 1200px;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    border: 8px solid transparent;
    transform-origin: bottom center;
}
.bowl::before{
    content: '';
    position: absolute;
    width: 40%;
    height: 30px;
    border: 15px solid #444;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.bowl::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 150px;
    height: 80px;
    background: rgba(255, 255, 255, 0.05);
}
.bowl .liquid{
    position: absolute;
    background:#0bcafa ;
    top: 50%;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    filter: drop-shadow(0 0 80px #0bcafa);
    box-shadow: 0 0 80px #0bcafa;
    transform-origin: top center;
    
}
.bowl .liquid::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 25px;
    background: #0abae6;
    border-radius: 50%;
    top: -12px;
    filter: drop-shadow(0 0 80px #0bcafa);
    box-shadow: 0 0 80px #0bcafa
}
.shadow{
    position: relative;
    width: 300px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    top: 2870px;
    border-radius: 50%;
    right: 895px;
}
.glass4{
    display: flex;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    border-top: solid rgba(255, 255, 255, 0.5) 1px;
    border-right: solid rgba(255, 255, 255, 0.5) .5px;
    width: 700px;
    height: 800px;
    backdrop-filter: blur(8px);
    top: 2750px;
    right: 70px;
    box-shadow: -20px -20px 50px rgba(0,0,0,0.5);
    z-index: 2;
}
.glass4 .content{
    padding: 10%;
    text-align: center;
    cursor:default;
}

.glass4 .content h2{
    font-family: 'Water Brush', cursive;
    letter-spacing: 10px;
    position: absolute;
    top: 25px;
    left: 50px;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: 400px 720px 0 rgba(255, 255, 255, 0.3);
}
.glass4 .content p{
    position: absolute;
    right: 50px;
    left: 50px;
    top: 360px;
    font-size: 1.8em;
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
    line-height: 40px ;
    text-shadow: -5px 2px 0 rgb(0, 0, 0);
    cursor: crosshair;
}
.glass4 .content ul{
    font-family:'Oleo Script', cursive ;
    position: absolute;
    font-size: 6em;
    top: 150px;
    left: 100px;
    display: flex;
    list-style: none;
    letter-spacing: 0px;
}
.glass4 .content ul li:nth-child(1){
    text-shadow: -15px 8px 0 #fa0b5b;
}
.designer{
position: absolute;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.08));
    z-index: 1;
    top: 2650px;
   left: 400px;
}
.designer span{
    color: rgba(255, 255, 255, 0.151);
    text-shadow: 0 0 0 #222;
    font-size: 5em;
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    letter-spacing: 5px;
    animation: glq1  3.5s  ease-out infinite; 
    animation-delay:  calc(.3s * var(--i));
}
@keyframes glq1{
    0%{
        
        text-shadow: 0 0 0 #222;
    }
    50%
    {
        color: #fff;
        text-shadow:0 0 10px #0bcafa,
                    0 0 20px #0bcafa,
                    0 0 40px #0bcafa,
                    0 0 60px #0bcafa,
                    0 0 80px #0bcafa,
                    0 0 160px #0bcafa;
    } 
    100%
    { 
        text-shadow: 0 0 0 #222;
    }
}
section .designer:hover span{
    animation: glow3 1s infinite;
    animation-delay: .1s;
}
@keyframes glow3{
    0%,5.1%,15%,50%,65%,80%,100%{
        text-shadow: 0 0 0 #222;
    }
    2%,5%,5.2%,14.9%,15.1%,49.9%,50.2%,64.9%,65.1%,79.9%,80.1%,95%{
        color: #fff;
            text-shadow:0 0 10px #0bcafa,
                        0 0 20px #0bcafa,
                        0 0 40px #0bcafa,
                        0 0 60px #0bcafa,
                        0 0 80px #0bcafa,
                        0 0 160px #0bcafa;
    }
}