section .developer{
    position: absolute;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.08));
    z-index: 0;
    top: 950px;
    right: 450px;
    
}
section .developer span{
    color: rgba(255, 255, 255, 0.151);
    text-shadow: 0 0 0 #222;
    font-size: 5em;
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    letter-spacing: 5px;
    animation: glq  3.5s  ease-out infinite; 
    
    animation-delay:  calc(.3s * var(--i));
    
}

@keyframes glq{
        0%{
            
            text-shadow: 0 0 0 #222;
        }
        50%
        {
            color: #fff;
            text-shadow:0 0 10px #fa0b5b,
                        0 0 20px #fa0b5b,
                        0 0 40px #fa0b5b,
                        0 0 60px #fa0b5b,
                        0 0 80px #fa0b5b,
                        0 0 160px #fa0b5b;
        } 
        100%
        { 
            text-shadow: 0 0 0 #222;
        }
}
section .developer:hover span{
    animation: glow2 1s infinite;
    animation-delay: .1s;
}
@keyframes glow2{
    0%,5.1%,15%,50%,65%,80%,100%{
        text-shadow: 0 0 0 #222;
    }
    2%,5%,5.2%,14.9%,15.1%,49.9%,50.2%,64.9%,65.1%,79.9%,80.1%,95%{
        color: #fff;
            text-shadow:0 0 10px #fa0b5b,
                        0 0 20px #fa0b5b,
                        0 0 40px #fa0b5b,
                        0 0 60px #fa0b5b,
                        0 0 80px #fa0b5b,
                        0 0 160px #fa0b5b;
    }
}
.glass2{
position:absolute;
    top: 1100px;
    right: 100px;
    width: 700px;
    height: 700px;
    color: white;
    box-shadow: -20px -20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: .5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    z-index: 2;
    overflow: hidden;
    
}
.glass2 .content{
    text-align: center;
    transition: 0.5s;
    cursor:default;
}
.glass2 .content h2{
    font-family: 'Water Brush', cursive;
    letter-spacing: 10px;
    position: absolute;
    top: 25px;
    left: 50px;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: 460px 620px 0 rgba(255, 255, 255, 0.3); 
}
.glass2 .content ul{
    font-family:'Oleo Script', cursive ;
    position: absolute;
    font-size: 6em;
    top: 150px;
    left: 150px;
    display: flex;
    list-style: none;
    letter-spacing: 0px;
}
.glass2 .content ul li:nth-child(1){
    text-shadow: -15px 8px 0 #fa0b5b;
}
.glass2 .content h2.h1{
    font-family: 'Water Brush', cursive;
    letter-spacing: 10px;
    position: absolute;
    top: 280px;
    left: 150px;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: 280px 280px 0 rgba(255, 255, 255, 0.3); 
}
.glass2 .content p{
    position: absolute;
    right: 50px;
    left: 50px;
    top: 360px;
    font-size: 1.8em;
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
    line-height: 40px ;
    text-shadow: -5px 2px 0 rgb(0, 0, 0);
    cursor: crosshair;
}
.glass2 .content h3:nth-child(5){
    font-family: 'Acme', sans-serif;
    position: relative;
    top: 220px;
    right: 250px;
    font-size: 4.5em;
    color: rgba(255, 255, 255, 0.3);
}
.glass2 .content h3:nth-child(6){
    font-family: 'Acme', sans-serif;
    position: relative;
    top: 200px;
    right: 250px;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.3);
}


.projects{
    width:950px;
    height: 450px;
    position: absolute;
    top: 1350px;
    left: 60px;
    overflow: hidden;
    align-items: center;
    display: flex;
    padding: 2%;
    justify-content: space-between;
   
}
.projects .proj .texts{
    position: absolute;
    top: -280px;
    left: 5px;
    width: 260px;
    height: 340px;
    padding: 9%;
    background-color: rgba(153, 238, 113, 0.699);
    text-align: center;
    transform: translateY(280px);
    opacity: 0;
    transition: 1s;
    box-shadow: 0 0 10px rgba(153, 238, 113, 0.699),
    0 0 30px rgba(153, 238, 113, 0.699);
    border-radius: 40%;
}
.projects .proj .texts h3{
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
    position: relative;
    font-size: 1.8em;
    top: 50px;
    color: white;
}
.projects .proj .texts p{
    position: relative;
    font-size:1.2em;
    top: 65px;
    font-family: 'Acme', sans-serif;
    color: white;
}
.projects .proj:hover .texts {
    transform: translateY(0) ;
    opacity: 1;  
    border-radius: 15px;  
}
.projects .proj .texts2{
    position: absolute;
    top: -280px;
    height: 340px;
    left: 6px;
    width: 260px;
    padding: 9%;
    background-color: #0bcafab0;
    text-align: center;
    box-shadow: 0 0 10px #0bcafab0,
    0 0 30px #0bcafab0;
    backdrop-filter: blur(8px);
    transform: translateY(280px);
    border-radius: 40%;
    opacity: 0;
    transition: 1s;
}
.projects .proj .texts2 h3{
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
    position: relative;
    font-size: 1.8em;
    top: 50px;
    color: white;
}
.projects .proj .texts2 p{
    position: relative;
    font-size:1.2em;
    top: 65px;
    font-family: 'Acme', sans-serif;
    color: white;
}

.projects .proj:hover .texts2 {
    transform: translateY(0) ;
    opacity: 1;  
    border-radius: 15px;  
}
.projects .proj .texts1{
    position: absolute;
    top: -280px;
    left: 6px;
    width: 260px;
    height: 340px;
    padding: 9%;
    background-color: rgba(250, 11, 91, 0.699);
    box-shadow: 0 0 10px rgba(250, 11, 91, 0.699),
    0 0 30px rgba(250, 11, 91, 0.699);
    text-align: center;
    border-radius: 40%;
    transform: translateY(280px);
    opacity: 0;
    transition: 1s;   
}
.projects .proj .texts1 h3{
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
    position: relative;
    font-size: 1.8em;
    top: 50px;
    color: white;
}
.projects .proj .texts1 p{
    position: relative;
    font-size:1.2em;
    top: 55px;
    font-family: 'Acme', sans-serif;
    color: white;
}
.projects .proj:hover .texts1 {
    transform: translateY(0) ;
    opacity: 1;  
    border-radius: 15px; 
    
}
.projects .proj{
    position: relative;
    top: 130px;
    flex-basis: 31%;
    width: 200px;
    height: 100px;
    background-color: rgba(255,255,255,0.1);
    text-align: center;
    border-radius: 15px;
    backdrop-filter: blur(8px);
    z-index: 0;
    transition: 1s;
}
.projects .proj:hover{
    background: #0e0e0e;
}
.projects .proj h2{
    font-family: 'Acme', sans-serif ;
    color: rgba(255, 255, 255, 0.2);
    position: relative;
    top: -10px;
    transition: .5s;
    
}
.projects .proj:hover h2{
    opacity: 0;
}
.projects  .proj .text{
    text-align: center;
    padding: 10px;
}
.projects .proj:nth-child(2)  i{
    position: relative;
    top: -28px;
    left: 11px;
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #fa0b5b,
    0 0 20px #fa0b5b,
    0 0 40px #fa0b5b,
    0 0 60px #fa0b5b,
    0 0 80px #fa0b5b;
    transition: 1.1s ;
}
.projects .proj:nth-child(3) i{
    position: relative;
    top: -28px;
    left: 2px;
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #0bcafa,
    0 0 20px #0bcafa,
    0 0 40px #0bcafa,
    0 0 60px #0bcafa,
    0 0 80px #0bcafa;
    transition: 1.1s ;
}
.projects .proj:nth-child(1) i{
    position: relative;
    top: -28px;
    left: 8px;
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #99ee71,
    0 0 20px #99ee71,
    0 0 40px #99ee71,
    0 0 60px #99ee71,
    0 0 80px #99ee71;
    transition: 1.1s ;
}
.projects .proj:hover  i{
    transform: translateX(-95px) translateY(-240px) scale(.5) rotateY(360deg);
    
  
}
.projects .btns {
    position: relative;
    width: 100px;
    height: 40px;
    top: 100px;
    left: 100px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}
.projects .btns::before{
    content: '';
    position: absolute;
    border-radius: 8px;
    background:#99ee71;
    width: 0;
    height:100%;
    transition: .5s linear;
    box-shadow: 0 0 10px #99ee71,
    0 0 20px #99ee71,
    0 0 40px #99ee71,
    0 0 60px #99ee71,
    0 0 80px #99ee71;
}
.projects .btns:hover::before{
    width: 100%;
    transform: translateX(-50px);
}
.projects .btns1 {
    position: relative;
    width: 100px;
    height: 40px;
    top: 70px;
    left: 100px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}
.projects .btns1::before{
    content: '';
    position: absolute;
    border-radius: 8px;
    background:#fa0b5b;
    width: 0;
    height:100%;
    transition: .5s linear;
    box-shadow: 0 0 10px #fa0b5b,
    0 0 20px #fa0b5b,
    0 0 40px #fa0b5b,
    0 0 60px #fa0b5b,
    0 0 80px #fa0b5b;
}
.projects .btns1:hover::before{
    width: 100%;
    transform: translateX(-50px);
}
.projects .btns2 {
    position: relative;
    width: 100px;
    height: 40px;
    top: 100px;
    left: 100px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}
.projects .btns2::before{
    content: '';
    position: absolute;
    border-radius: 8px;
    background:#0bcafa;
    width: 0;
    height:100%;
    transition: .5s linear;
    box-shadow: 0 0 10px #0bcafa,
    0 0 20px #0bcafa,
    0 0 40px #0bcafa,
    0 0 60px #0bcafa,
    0 0 80px #0bcafa;
}
.projects .btns2:hover::before{
    width: 100%;
    transform: translateX(-50px);
}
.projects a{
    display: flex;
    border-radius: 8px;
    position: absolute;
    font-family: 'Acme' sans-serif;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
}