@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
section{
   display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #0e0e0e;
    cursor:default;
}
section .container{
    width: 100%;
    height: 93%;
    contain: content;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #0e0e0e;
    z-index: 0;
    overflow: hidden;
}
section .container h2{
    font-family: 'Source Code Pro', monospace;
    position: relative;
    width:100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    color: #222;
    font-size: 95px;
    line-height: 0.9em;
    letter-spacing: 4px;
    z-index: 0;
}
section .container h2 span{
    position: relative;
    z-index: 1;
    color: #fff;
    animation: glow 5s linear infinite;
}
section .container h2 span.t2{
    animation-delay: -0.5s;
    filter: hue-rotate(225deg)
}
section .container h2 span.t3{
    animation-delay: -1s;
    filter: hue-rotate(22deg)
}
section .container h2 span.t4{
    animation-delay: -1.2s;
    filter: hue-rotate(22deg)
}
section .container h2 span.t5{
    animation-delay: -1.6s;
    filter: hue-rotate(150deg)
}
section .container h2 span.t6{
    animation-delay: -2s;
    filter: hue-rotate(145eg)
}
@keyframes glow
{
    0%,5%,10.1%,15.1%,25.1%,45%,70.1%,90%,100%{
        color: #222;
        text-shadow: 0 0 0 #222;
    }
    5.1%,10%,15.2%,25.2%,45.1%,70.1%,90.1%,95%
    {
        color: #fff;
        text-shadow:0 0 10px #ff3177,
                    0 0 20px #ff3177,
                    0 0 40px #ff3177,
                    0 0 60px #ff3177,
                    0 0 80px #ff3177,
                    0 0 160px #ff3177;
    }
}