

.light{
    position: absolute;
    top: 130px;
    right: 200px;
}
#light .light .bulb{
    position: absolute;
    top: 1698px;  
    right: 20px;
    width: 220px;
    height: 250px;
    background: #444;
    border-radius: 50%;
    border-bottom: solid rgba(255, 255, 255, 0.2) 2px;
    border-right: solid rgba(255, 255, 255, 0.226) 2px;
}
#light.on .light .bulb{
    background: white;
    box-shadow: 0 0 20px white,
    0 0 50px white,
    0 0 100px white,
    0 0 200px white;
}
#light .light .bulb::before{
    content: '';
    position: absolute;
    top: -150px;
    left: 60px;
    width: 100px;
    height: 200px;
    background: #444;
    border-top: 60px solid rgb(105, 105, 105);
    border-radius: 10px;
}
#light.on .light .bulb::before{
    background: white;
    box-shadow: 0 0 20px white,
    0 0 50px white,
    0 0 100px white,
    0 0 200px white,
    200px 200px 400px white,
    150px 400px 600px white,
    100px 600px 400px white,
    -200px 200px 400px white,
    -150px 400px 600px white,
    -100px 600px 600px white;
}
#light .light .bulb span:nth-child(1){
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    top: -22px;
    left: 15px;
    border-bottom-right-radius: 40px;
    transform: rotate(-24deg);
    box-shadow: 20px 20px 0 10px #444;
}
#light.on .light .bulb span:nth-child(1){
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    top: -22px;
    left: 15px;
    border-bottom-right-radius: 40px;
    transform: rotate(-24deg);
    box-shadow: 20px 20px 0 10px rgb(255, 255, 255);
}
#light .light .bulb span:nth-child(2){
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    top: -20px;
    right: 15px;
    border-bottom-right-radius: 40px;
    transform: rotate(110deg);
    box-shadow: 20px 20px 0 10px #444;
}
#light.on .light .bulb span:nth-child(2){
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    top: -20px;
    right: 15px;
    border-bottom-right-radius: 40px;
    transform: rotate(110deg);
    box-shadow: 20px 20px 0 10px rgb(255, 255, 255);
}
#light .light .wire{
    position: absolute;
    width: 4px;
    top: 300px;
    right:130px;
    height: 1500px;
    background: rgba(255, 255, 255, 0.5);
    z-index: -1;

}
#light .light a{
    text-decoration: none;
}
#light .light a .play{
    position: relative;
    width: 100px;
    height: 50px;
    top: 400px;
    left: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius:15px;
    background: #0e0e0e;
    z-index: 0;
    text-decoration: none;
    transition: .5s;
}
#light.on .light a .play{
    background:rgb(255, 255, 255, 0.1);
    border: 2px solid black;
}
#light.on .light a .play::before{
    content: '';
    position: absolute;
    left: -20px;
    width: 30px;
    height: 5px;
    background:rgb(4, 0, 252);
    box-shadow: 0px 0 20px rgb(4, 0, 252),
    0px 0 40px rgb(4, 0, 252),
    0px 0 60px rgb(4, 0, 252),
    0px 0 80px rgb(4, 0, 252);
    border-radius: 15px;
    animation: rotcol 2s infinite;
    transition: left .2s, width .2s, height .2s;
    transition-delay: .5s,.5s,0s;
}
#light.on .light a .play:hover::before{
    left: 0px;
    width: 95px;
    height: 45px;
    box-shadow:0px 0 20px rgb(4, 0, 252),
    0px 0 40px rgb(4, 0, 252),
    0px 0 60px rgb(4, 0, 252),
    0px 0 80px rgb(4, 0, 252);
    transition-delay: .5s,.5s,1s;

}
#light.on .light a .play::after{
    content: '';
    position: absolute;
    top: -25px;
    width: 5px;
    height: 30px;
    background:rgb(4, 0, 252);
    box-shadow: 0px 0 20px0px 0 20px rgb(4, 0, 252),
    0px 0 40px rgb(4, 0, 252),
    0px 0 60px rgb(4, 0, 252),
    0px 0 80px rgb(4, 0, 252);
    border-radius: 15px;
    animation: rotcol 2s infinite;
    transition: top .2s, width .2s, height .2s;
    transition-delay: .5s,0s,.5s;
    z-index: -1;
}
#light.on .light a .play:hover::after{
    top: 0px;
    width: 95px;
    height: 45px;
    box-shadow: 0px 0 20px rgb(245, 54, 127);
    transition-delay: .5s,1s,.5s;

}
#light .light a .play p{
    position: relative;
    font-family:'Oleo Script', cursive ;
    color: transparent;
    font-size: 1.8em;
    transition: .5s;
    z-index: 0;
    text-decoration: none;
    display: block;    
}
#light.on .light a .play p{
    color:white;
    text-shadow: 0 0 20px white,
    0 0 40px white,
    0 0 60px white;
}
#light .light .switch{
    position:absolute;
    top: 2350px;
    width: 200px;
    height: 150px;
}
#light .light .switch .btn{
    position: absolute;
   top: 22%;
   left: 25%;
    width: 60px;
    height: 30px;
    background-color: #045753;
    box-shadow: 0 0 20px #045753 ;
    border-radius: 20px;
    transition: .5s;
}
#light.on .light .switch .btn{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(255, 255, 255);
}
#light .light .switch .btn span{
    position: absolute;
    display: block;
    top: 2.35px;
    left: 2px;
    width: 25px;
    height: 25px;
    background: black;
    border-radius: 50%; 
    transition: .5s; 
}
#light.on .light .switch .btn span{
    transform: translateX(30px);
}
@keyframes rotcol{
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
}
}
#light .gamer{
    position: absolute;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.08));
    z-index: 1;
    top: 1800px;
   left: 700px;
}
 .gamer span{
    color: rgba(255, 255, 255, 0.151);
    text-shadow: 0 0 0 #222;
    font-size: 5em;
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    letter-spacing: 5px;
    animation: glw 3s infinite; 
    animation-delay: calc(-.5s * var(--i));
}
#light .gamer:hover span{
    animation: glows2 1s infinite;
}
    @keyframes glows2{
        0%,5.1%,15%,50%,65%,80%,100%{
            text-shadow: 0 0 0 #222;
        }
        2%,5%,5.2%,14.9%,15.1%,49.9%,50.2%,64.9%,65.1%,79.9%,80.1%,95%{
            color: #fff;
                text-shadow:0 0 10px #99ee71,
                            0 0 20px #99ee71,
                            0 0 40px #99ee71,
                            0 0 60px #99ee71,
                            0 0 80px #99ee71,
                            0 0 160px #99ee71;
        }
    } 

@keyframes glw{
    100%{

    }
    50%{
        color: white;
        text-shadow: 0 0 20px #99ee71,
        0 0 40px #99ee71,
        0 0 60px #99ee71,
        0 0 80px #99ee71;
    }
}
.glass3{
    position:absolute;
    width: 700px;
    height: 700px;
    top: 1950px;
    left: 100px;
    color: white;
    box-shadow: -20px -20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: .5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    z-index: 2;
    overflow: hidden;
}
.glass3 .content{
    padding: 10%;
    text-align: center;
    cursor:default;
}
.glass3 ul{
    position: relative;
    top: -50px;
    left: 50px;
    font-family:'Oleo Script', cursive ;
    display: flex;
    list-style: none;
    font-size: 6em;
    letter-spacing: 0px;
}
.glass3 ul li:nth-child(1){
    text-shadow: -15px 8px 0 #fa0b5b;
}
.glass3 .content h2{
    font-family: 'Water Brush', cursive;
    letter-spacing: 10px;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: 380px 560px 0 rgba(255, 255, 255, 0.3); 
}
.glass3 .content p{
    position:relative;
    left: 0;
    font-size: 1.8em;
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
    line-height: 40px ;
    text-shadow: -5px 2px 0 rgb(0, 0, 0);
    cursor: crosshair;
}
:root{
    --clr1: #ff0087;
    --clr2: #01ff5f;
}
label{
    display: block;
    position: relative;
    top: 1800px;
    right: 100px;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    
}
label input{
    appearance: none;
}
label .face{
    position: absolute;
    inset: 0;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    mix-blend-mode: lighten;
    transition: .5s;
}
label input:checked ~ .face{
    background: var(--clr1);
    filter: drop-shadow(0 0 50px var(--clr1)) drop-shadow(0 0 100px var(--clr1))
    drop-shadow(0 0 150px var(--clr1));
}
label:nth-child(even) input:checked ~ .face{
    background: var(--clr2);
    filter: drop-shadow(0 0 50px var(--clr2)) drop-shadow(0 0 100px var(--clr2))
    drop-shadow(0 0 150px var(--clr2));
}

label .face::before{
    content:'';
    position: absolute;
    top: 40px;
    left: 33%;
    width: 10px;
    height: 10px;
    background: #111;
    opacity: 0.5;
    border-radius: 50%;
    box-shadow: 25px 0 0 #111;
}
label .face::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    bottom: 35px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 -5px 0 #111;
    background: #333;
    opacity: 0.5;
    transition: .5s;
}
label input:checked ~ .face::after{
    width: 20px;
    height: 15px;
    border-radius: 0;
    box-shadow: 0 0 0 #111;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
    transform: translateX(-50%) translateY(0px);
}