.nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 100000;
    font-size: 2em;
    background: rgba(255, 255, 255, 0.1);
    height: 90px;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    overflow: hidden;
  transition: .5s;
}
.nav a{
    text-decoration: none;
    color: white;
}
.nav.off{
    position: absolute;
    opacity: 0;
}
#menu{
    opacity: 0;
    overflow: hidden;
}
#menu.sticky{
    position: fixed;
    background: rgb(207, 136, 4);
    box-shadow: 0 0 20px rgb(207, 136, 4),
    0 0 40px rgb(207, 136, 4);
    width: 70px;
    height: 100%;
    z-index: 10000;
    transition: .5s;
    opacity: 1;
    overflow: hidden;
}
#menu.sticky .click{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(207, 136, 4);
     transition: .5s;
}
#menu p{
    display: none;
}

#menu.sticky.on menu{
    position: absolute;
    display: block;
    color: white;
    font-size: 3em;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#menu.sticky.on menu li{
    margin-top: 50px;
   list-style: none;
   animation: none;
   text-transform: uppercase;
   transition: .5s;
}
#menu.sticky.on menu li a{
    text-decoration: none;
    color: white;
}
#menu.sticky.on menu li:hover{
    background: rgb(165, 108, 2);
    border-radius: 15px;
    position: relative;

}
#menu.sticky .click span{
    position: absolute;
    top: 45%;
    left: 25%;
    width: 30px;
    height: 3px;
    box-shadow: 0 10px 0px white,
   0 10px  5px white,
   0 -10px  5px white,
   0 0  5px white,
    0 -10px 0px white;
    border-radius: 15px;
    background: white;
    transition: .5s;
    
}
#menu.sticky .click::before{
    cursor: pointer;
    font-family: 'Acme', sans-serif;
    content: 'Open';
    opacity: 1;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -250%);
    color: white;
    font-size: 1.2em;
    position: absolute;
    transition: .5s;
}
#menu.sticky .click:hover:before{
    opacity: 1;
}
#menu.sticky .click:hover span{
    opacity: 0;
}
#menu:hover  {
    transform: scale(1.3);
}

#menu.on {
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    border-radius: 0px;
}

#menu.sticky.on .click{
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
#menu.sticky.on .click span{
    width: 50px;
    height: 5px;
    box-shadow: 0 0  5px white ;
    transform: rotate(145deg);
    position: absolute;
    right: 10px;
    border-radius: 15px;
}
#menu.sticky.on .click span::before{
    content: '';
    width: 50px;
    height: 5px;
    box-shadow: none;
    background: white;
    box-shadow: 0 0  5px white ;
    transform: rotate(250deg);
    position: absolute;
    border-radius: 15px;
}
#menu.on:hover{
    transform:scale(1);
}
#menu.on .click:hover:before{
    opacity: 0;
}
#menu.on .click:hover span{
    opacity: 1;
}


.nav ul{
    font-family:'Acme', sans-serif ;
    position: relative;
    top: 15px;
    color: white;
    opacity: 1;
    transition: opacity 1s;
    transition-delay: .5s;
}
.sticky ul{
    opacity: 0;
    transition-delay: 0s;
}
.nav ul li{
    height: 100px;
    list-style: none;
    display: inline-block;
padding: 8px 12px;
position: relative;
left: 34%;
cursor: pointer;
animation: none;
}
.nav ul li:nth-child(1)::before{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    content: '';
    width: 50px;
    height: 50px;
    background: rgb(207, 136, 4);
    box-shadow: 0 0 20px rgb(207, 136, 4),
    0 0 40px rgb(207, 136, 4);
    z-index: -1;
    border-radius: 50%;
    transition: top .5s, width .5s,height .5s, border-radius .5s;
    transition-delay: .2s , 0s, 0s, 0s;
}
.nav ul li:nth-child(1):hover:before{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(207, 136, 4);
    box-shadow: 0 0 20px rgb(207, 136, 4),
    0 0 40px rgb(207, 136, 4);
    z-index: -1;
    border-radius: 5px;
    transition-delay: 0s , .5s, .5s, .5s;
}
.nav ul li:nth-child(2)::before{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    content: '';
    width: 50px;
    height: 50px;
    background:#fa0b5b;
    box-shadow: 0 0 20px#fa0b5b,
    0 0 40px #fa0b5b;
    z-index: -1;
    border-radius: 50%;
    transition: top .5s, width .5s,height .5s, border-radius .5s;
    transition-delay: .2s , 0s, 0s, 0s;
}
.nav ul li:nth-child(2):hover:before{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    content: '';
    width: 100%;
    height: 100%;
    background: #fa0b5b;
    box-shadow: 0 0 20px #fa0b5b,
    0 0 40px #fa0b5b;
    z-index: -1;
    border-radius: 5px;
    transition-delay: 0s , .5s, .5s, .5s;
}
.nav ul li:nth-child(3)::before{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    content: '';
    width: 50px;
    height: 50px;
    background: #99ee71;
    box-shadow: 0 0 20px #99ee71,
    0 0 40px #99ee71;
    z-index: -1;
    border-radius: 50%;
    transition: top .5s, width .5s,height .5s, border-radius .5s;
    transition-delay: .2s , 0s, 0s, 0s;
}
.nav ul li:nth-child(3):hover:before{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    content: '';
    width: 100%;
    height: 100%;
    background: #99ee71;
    box-shadow: 0 0 20px #99ee71,
    0 0 40px #99ee71;
    z-index: -1;
    border-radius: 5px;
    transition-delay: 0s , .5s, .5s, .5s;
}
.nav ul li:nth-child(4)::before{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    content: '';
    width: 50px;
    height: 50px;
    background: #0bcafa;
    box-shadow: 0 0 20px #0bcafa,
    0 0 40px #0bcafa;
    z-index: -1;
    border-radius: 50%;
    transition: top .5s, width .5s,height .5s, border-radius .5s;
    transition-delay: .2s , 0s, 0s, 0s;
}
.nav ul li:nth-child(4):hover:before{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    content: '';
    width: 100%;
    height: 100%;
    background: #0bcafa;
    box-shadow: 0 0 20px #0bcafa,
    0 0 40px #0bcafa;
    z-index: -1;
    border-radius: 5px;
    transition-delay: 0s , .5s, .5s, .5s;
}
.nav ul li:nth-child(5)::before{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    content: '';
    width: 50px;
    height: 50px;
    background: purple;
    box-shadow: 0 0 20px purple,
    0 0 40px purple;
    z-index: -1;
    border-radius: 50%;
    transition: top .5s, width .5s,height .5s, border-radius .5s;
    transition-delay: .2s , 0s, 0s, 0s;
}
.nav ul li:nth-child(5):hover:before{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    content: '';
    width: 100%;
    height: 100%;
    background: purple;
    box-shadow: 0 0 20px purple,
    0 0 40px purple;
    z-index: -1;
    border-radius: 5px;
    transition-delay: 0s , .5s, .5s, .5s;
}
@keyframes navcolors{
    0%{
        background-color:rgb(207, 136, 4) ;
    }
    25%{
        background-color:#fa0b5b ;
    }
    50%{
        background-color: #99ee71;
    }
    75%{
        background-color:#0bcafab0 ;
    }
    100%{
        background-color: purple;
    }
}