@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
  margin: 0;
  padding: 0;
  
 
}
body{
    background:#0e0e0e;
}
.main{
    
    display: none;
    opacity: 0;
    transition: .5s;
    
}

.glass{
    position:absolute;
    top: 300px;
    left: 100px;
    width: 700px;
    height: 800px;
    color: white;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: .5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    z-index: 2;
    overflow: hidden;
}
.glass .content{
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    cursor:default;
}
.glass .content h2{
    font-family: 'Water Brush', cursive;
    letter-spacing: 10px;
    position: absolute;
    top: 15px;
    left: 30px;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.3);
    
}
.glass .content h2.h1{
    font-family: 'Water Brush', cursive;
    letter-spacing: 10px;
    position: absolute;
    top: 65px;
    left: 100px;
    font-size: 1.6em;
    color: rgba(255, 255, 255, 0.3);
    
}
.glass .content h2.h2{
    font-family: 'Water Brush', cursive;
    letter-spacing: 10px;
    position: absolute;
    top: 750px;
    left: 510px;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.3);
    
}
.glass .content h2.h3{
    font-family: 'Water Brush', cursive;
    letter-spacing: 10px;
    position: absolute;
    top: 710px;
    left: 440px;
    font-size: 1.6em;
    color: rgba(255, 255, 255, 0.3);
    
}
.glass .content h3{
    font-family: 'Oleo Script', cursive;
    position: absolute;
    top: 150px;
    left: 100px;
    font-size: 6em;
    letter-spacing: 5px;
    
}
.glass .content h3.t2{
    font-family: 'Oleo Script', cursive;
    position: absolute;
    top: 150px;
    left: 160px;
    font-size: 6em;
    letter-spacing: 5px;
    color: rgb(250, 250, 250); 
    
}
.glass .content h3.t3{
    font-family: 'Oleo Script', cursive;
    position: absolute;
    top: 150px;
    left: 190px;
    font-size: 6em;
    letter-spacing: 5px;
    color: rgb(250, 250, 250); 
}
.glass .content h3.t1{
    font-family: 'Oleo Script', cursive;
    position: absolute;
    top: 250px;
    left: 180px;
    font-size: 6em;
    letter-spacing: 5px;
    color: rgb(250, 250, 250);  
    
}

.glass .content h3 span{
    color:rgb(255, 255, 255);
    text-shadow: -15px 8px 0 rgb(255, 0, 0); 
}

.glass .content h3:hover,li:hover {
    animation: jump .34s ease infinite;
}
.glass .content ul{
    display: flex;
    list-style: none;
    font-family: 'Oleo Script', cursive;
    position: absolute;
    top: 250px;
    font-size: 6em;
    left: 170px;
}
    .glass .content ul li:nth-child(1){
        color:rgb(255, 255, 255);
    text-shadow: -15px 8px 0 rgb(255, 0, 0); 

}
.glass .content p{
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
    line-height: 45px;
    font-size: 1.8em;
    position: relative;
    top: 130px;
    margin:4%;
    text-shadow: -5px 2px 0 rgb(0, 0, 0);
    cursor: default;
    transition: cursor 1s;
}
.glass .content p:hover{
    cursor:crosshair;
}
.glass .content p span:nth-child(1){
    color: rgb(79, 79, 218);
    text-shadow: 0 0 10px rgba(83, 46, 248,0.5),
    0 0 15px rgba(83, 46, 248,0.5),
    0 0 20px rgba(83, 46, 248,0.5),
    0 0 40px rgba(83, 46, 248,0.5),
    0 0 60px rgba(83, 46, 248,0.5),
    0 0 80px rgba(83, 46, 248,0.5),
    0 0 100px rgba(83, 46, 248,0.5) ;
}
.glass .content p span:nth-child(2){
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgba(255, 255, 255,0.5),
    0 0 15px rgba(255, 255, 255,0.5),
    0 0 20px rgba(255, 255, 255,0.5),
    0 0 40px rgba(255, 255, 255,0.5),
    0 0 60px rgba(255, 255, 255,0.5),
    0 0 80px rgba(255, 255, 255,0.5),
    0 0 100px rgba(255, 255, 255,0.5) ;
}
.glass .content .cv{
    display: flex;
    position: relative;
    width: 130px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    top: 120px;
    left: 450px;
    border-radius: 7px;
    backdrop-filter: blur(8px);
    z-index: 1;
    border: solid 2px black;
    box-sizing: border-box;
    transition: .5s;
    
}
.glass .content .cv::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 5px;
    border-radius: 8px;
    z-index: -2;
    animation: buttons 2s linear;
    animation-fill-mode: forwards;
    background-color: rgb(243, 39, 83);
    box-shadow: 0 0 20px rgb(243, 39, 83),
    0 0 40px rgb(243, 39, 83),
    0 0 60px rgb(243, 39, 83);
}
.glass .content .cv::after{
    content: '';
    top: 5px;
    left: -40px;
    position: absolute;
    width: 50px;
    height: 5px;
    border-radius: 8px;
    background-color: rgb(243, 39, 83);
    box-shadow: 0px 20px 0 rgb(243, 39, 83),
     150px 20px 0 rgb(243, 39, 83),
     150px 0px 0 rgb(243, 39, 83);
     transition: .5s ease-in-out;
}
.glass .content .cv:hover::after{
    left: 40px;
    box-shadow:0px 20px 0 rgb(243, 39, 83),
    0px 20px 0 rgb(243, 39, 83),
    0px 0px 0 rgb(243, 39, 83) ;
}
.glass .content .cv:hover{
    transform: scale(1.1);
}
.glass .content .cv:hover::before{
    animation: button 1.5s linear ;
    animation-fill-mode:forwards;
}
@keyframes button{
    0%{
        width: 150px;
        height: 5px;
    }
    5%{
        width: 155px;
        height: 10px;
    }
    10%{
        width: 150px;
        height: 5px;
    }
    19.5%,20%{
        width:20px;
        height: 20px;
        border-radius: 50%;
    }
    35%{
        width: 40px;
        height: 40px;
    }
    50%{
        width: 80px;
        height: 40px;
        border-radius: 8px;
    }
    60%,100%{
        width: 130px;
        height: 40px;
    }
}
@keyframes buttons{
    100%,60%{
        width: 150px;
        height: 5px;
    }
    50%{
        width: 150px;
        height: 5px;
        border-radius: 8px;
    }
    35%{
        width:20px;
        height: 20px;
        border-radius: 50%;
    }
    20%{
        width: 40px;
        height: 40px;
    }
    10%{
        width: 80px;
        height: 40px;
        border-radius: 15px;
    }
    0%{
        width: 130px;
        height: 40px;
    }
}
.glass .content a{
    position: relative;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    padding-top: 3px;
    border-radius: 8px;
    color: white;
    font-family: 'Acme', sans-serif;
    text-decoration: none;
    z-index: 1;
}

@keyframes jump{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-10deg);
        
    }
    50%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }

}
.dots{
    top: 1150px;
    left: 369px;
    position: absolute;
    width: 200px;
    height: 200px; 
    z-index: -3;
}
.dots span{
    top: 50px;
    left: 50px;
    position: absolute;
    justify-content: center;
    width: 80%;
    height: 80%;
    transform: rotate(calc(36deg*var(--i)));
}
.dots span::before{ 
    content:'';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: transparent;
    border: 4px solid #00efff;
    box-shadow: 0 0 20px #00efff,
    -15px -15px 0 #00efff,
    -15px -15px 20px #00efff,
    15px 15px 0px #00efff,
    15px 15px 20px #00efff,
    15px -15px 0px #00efff,
    15px -15px 20px #00efff,
    -15px 15px 0px #00efff,
    -15px 15px 20px #00efff;
    animation: rot 5s linear infinite;
    animation-delay: calc(-0.25s*var(--i));
    transition: 2s;
    transform-origin: 10px;
}
.dots:hover span::before{
    box-shadow: 0 0 20px #00efff,
    -100px -100px 0 #00efff,
    -100px -100px 20px #00efff,
    100px 100px 0px #00efff,
    100px 100px 20px #00efff,
    100px -100px 0px #00efff,
    100px -100px 20px #00efff,
    -100px 100px 0px #00efff,
    -100px 100px 20px #00efff;
    transform-origin: 150px;
}

@keyframes rot{
    0%{
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
