.roads{
    min-height: 100vh;
    background: #292929;
}
.road{
    position: relative;
    width: 100%;
    height: 150px;
    background: #333;
    box-shadow: 0 0 20px black;
    top: 395px;
    display: flex;
    align-items: center;
    justify-content:center ;
}
.road::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #fff 50%, transparent 50%, transparent 100%);
    background-size: 50px;
    animation: road 0.3s linear infinite;
}
@keyframes road{
    0%{
        background-position: 50px 0;
    }
    100%{
        background-position: 0 0;
    }
}
.car{
    position: absolute;
    width: 250px;
    height: 100px;
    background: rgb(0, 162, 255);
    border-radius: 15px;
    box-shadow: -10px 10px rgba(0,0,0,0.25);
    animation: car 5s linear;
}
@keyframes car{
    0%{
        transform: translateX(-1000px)
    }
    20%{
        transform: translate(-700px);
    }
    30%{
        transform: translateX(-720px) rotate(10deg);
    }
    40%{
        transform: translateX(-750px) rotate(-10deg);
    }
    50%{
        transform: translateX(-730px) rotate(0deg);
    }
    60%{
        transform: translateX(-700px) rotate(0deg);
    }
    70%{
        transform: translateX(-600px) rotate(0deg);
    }
    80%{
        transform: translateX(-400px) rotate(0deg);
    }
    90%{
        transform: translateX(1200px);

    }
    100%{
        transform: translateX(1200px);

    }

}
.car::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 20px;
    border-radius: 2px;
    background: red;
    top: 15px;
    left: 5px;
    box-shadow: 0 50px red;
}
.car::after{
    content: '';
    position: absolute;
    width: 8px;
    height: 20px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    top: 15px;
    right: 5px;
    box-shadow: 0 50px rgb(255, 255, 255);
}
.car span{
    position: absolute;
    inset: 6px 12px;
    border-radius: 10px;
    background: rgb(66, 179, 245);
}
.car span::before{
    content: '';
    position: absolute;
    background: black;
    width: 130px;
    height: 80px;
    left: 25px;
    top: 5px;
    border-radius: 10px;
}
.car span::after{
    content: '';
    position: absolute;
    width: 75px;
    height: 65px;
    background: rgb(66, 179, 245);
    border-radius: 5px;
    left: 50px;
    top: 12px ;
}
span b{
    position: absolute;
    left: 20px;
    top: 9px;
    width: 40px;
    height: 8px;
    background: rgb(66, 179, 245);
    border-radius: 10px;
    transform: rotate(15deg);
    box-shadow: 110px 35px rgb(66, 179, 245);
}
span b:before{
    content: '';
    position: absolute;
    left: 95px;
    top: -25px;
    width:40px;
    height: 8px;
    background: rgb(66, 179, 245);
    border-radius: 10px;
    transform: rotate(148deg);
    box-shadow: 110px -33px rgb(66, 179, 245);
}
span i{
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    background: rgb(0, 0, 0);
    top: 28px;
    right: 0;
    box-shadow: 0 20px black;

}