body {
    
   
    margin-top: 300px;
    width: 100%;
    overflow: hidden;
    background:url("/image/space.jpg");
    background-size: cover;
  }
#board{
    position: relative;
    width: 500px;
    height: 500px;
    margin: 40px auto;
    border: 2px solid white;
    background-color: black;
    overflow: hidden;
    background: url("/image/space.jpg");
}
#jet{
    position: absolute;
    width: 40px;
    height: 40px;
    background: url("/image/rocket.png");
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    bottom: 0px;
}
.bullets{
    position:absolute;
    bottom: 40px;
    left: 50px;
    width: 30px;
    height: 30px;
    background: url("/image/bullet.png");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}
.rocks{
    position: absolute;
    top: 0px;
    width: 50px;
    height: 50px;
    background: url("/image/alien.png");
    background-size: contain;
    background-repeat: no-repeat;

}
#points {
    position: absolute;
    top:765px;
    left: 1050px;
    margin: 40px;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-family: 'Tahoma';
  }
  p{
    position: absolute;
    top: 765px;
    left: 950px;
    margin: 40px;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-family: 'Tahoma';
  }