@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;600&family=Roboto+Mono:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    font-size: 18px;

}
h1{
    text-align: center;
    text-decoration: underline;
    font-size: 36px;
    margin-top: 10px;
}
body{
    
    background-color: grey;
}
.body{
     height: 60vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 250px;
    height: 50px;
    display: inline;
    border: 2px white solid;
    background-color: rgb(48, 48, 48);
    color: white;
    border-radius: 10px;

    filter: drop-shadow(2px 4px 4px rgb(0, 0, 0));
  } 
  button:hover {
    transform: scale(1.05);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: .3s;
    filter: drop-shadow(5px 4px 4px rgb(0, 0, 0));
  }
  input{
    width: 250px;
    height: 50px;
    
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.692));
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 1%;
  }
  input:hover {
    transform: scale(1.05);
    filter: drop-shadow(2px 4px 4px rgb(0, 0, 0));
    transition: .3s;
  }

  p{
      transition: .3s;
      
  }
  p:hover{
      transform: scale(1.05);
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.082);
  }
  .img{
      margin-left: 600px;
      height: 600px;
      width: 300px;
      background-image: url("/image/flaskpng.png");
      background-repeat: no-repeat;
      transition: .3s;
  }
  .img:hover{
      transform: scale(1.02);
      filter:brightness(50)
  }
  .row{
    margin-top: 5%;
    display:inline-flex;
    justify-content: space-between;
}
  