@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
}
.wavy{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: #000;
    
}
.wavey{
    background: black;
    font-family: 'Press Start 2P', cursive;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.4));
    position: absolute;
    top: 450px;
    
}
.wavey span{
    background: black;
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    animation: pop 1.5s linear infinite;
    animation-delay: calc(.3s * var(--i));
    
}
@keyframes pop{
    0%{
        transform: translateY(0px);
    }
    20%
    {
     transform: translateY(-20px);
     color: red;   
    }
    30%,40%,100%{
        transform: translateY(0px);
        color: white;
    }
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgb(65, 65, 65);
    border-radius: 50px;
    transition: .5s;
}
::-webkit-scrollbar-thumb:hover{
    background:rgb(43, 42, 42);
    cursor:crosshair;
  
}

